* {
    /* Fondo general oscuro con 70% de opacidad (B3) */
    m-bg: {{colors.background.default.hex}}b3;
    
    /* Fondo del elemento seleccionado con 30% de opacidad (4D) */
    m-bg-selected: {{colors.primary.default.hex}}4d;
    
    /* Texto principal (sólido) */
    m-fg: {{colors.on_background.default.hex}};
    
    /* Color de acento (sólido) */
    m-accent: {{colors.primary.default.hex}};
    
    /* Fondo de la barra de búsqueda con 50% de opacidad (80) */
    m-input-bg: {{colors.surface_variant.default.hex}}80;
    
    /* Color del texto fantasma "Search..." con 30% de opacidad (4D) */
    m-placeholder: {{colors.on_background.default.hex}}4d;
}
